body {
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.navbar__menu li:hover {
    background-color: tomato;
    border-radius: 5px;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
}

.navbar__icons li {
    padding: 8px 7px;
}

.navbar__icons li:hover {
    background-color:blue ;
    border-radius: 5px;
    padding: 3px 3px;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 10px;
    color: tomato;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 8px 12px;
    }

    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        justify-content: center;
        width: 100%;
        padding-left:0px;
    }
    .navbar__toogleBtn {
        display: block;
    }
}